body{

    background-color: greenyellow;


}

#title{

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

#b_position{
    margin-top: 200px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

footer{

    margin-top: 800px;
    max-width: fit-content;
    position: relative;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;

}